*{
    font-family: 'Dosis','Arial';
    font-size: 18px;
}
.navigate ul li{
    list-style: none;
    float: left;
    padding: 20px;
    margin-top: 28px;
}

.navigate2 ul li{
    list-style: none;
    float: left;
    margin-left:20px;
}

header {
    border-bottom: 2px solid #cfcfcf;
    box-shadow: 3px 3px 2px rgb(250, 249, 249);
}

.sabka-bazar-logo img {
height: auto;
width: auto;
float: right;
}



.row .xyz{
    margin-top: 0;
    padding-top: 0;

}

.icon-big {
    font-size: 200%;
    margin-right: 5px;
    vertical-align: middle;
}

.btn {
    display: inline-block;
    width: 20%;
    margin-top: 5%;
    margin-left: 10%;
    height: auto;
    padding: 2%;
    background-color: grey;
    opacity: 0.7;
    text-align: center;
    text-decoration: none;
    color: #000;
    margin-bottom: -15px;
    
}

.btn-text{
    vertical-align: center;
}

.section-form {
    width: 60%;
    margin: 0 auto;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #cfcfcf;
    padding-top: 10px;  
}

input:hover, input:active {
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #1a76ac;
    
}

 .btn-login {
    display: inline-block;
    width: 77%;
    background-color: rgb(214, 68, 92);
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 5px;
    margin-top: 30px;

}

footer {
    background-color: grey;
    opacity: 0.7;
}

footer p {
    padding: 20px;
    margin-left: 19%; 
}

label {
    font-size: 70%;
    color: #1a76ac;
}

.section-form {
    margin-top: 50px;
}

.form-input {
    padding: 15px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
 
}

.slides-dot {
    text-align: center;
    margin-bottom: 2%;
    
}

.slide-container {
border-bottom: 2px solid #cfcfcf;
box-shadow: 3px 3px 2px rgb(250, 249, 249);
}

.title-text {
    float: left;
    margin-top: 4% !important;
    text-align: center;
}
.title-text h2 {
    margin-left: 4% ;
    font-size: 85%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.title-text p {
    margin-top: 4%;
    font-size: 65%;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.left-image img {
    height: 150px;
    width: auto;
   /*  width: 100%;
  height: auto; */
}

.home-tile {
    height: auto;
    margin:0 12%;
    border-bottom: 2px solid #cfcfcf;
/* box-shadow: 3px 3px 2px rgb(250, 249, 249); */
}

.btn-tile {
    display: inline-block;
    background-color: rgb(236, 83, 108);
    padding: 2%;
    text-decoration: none;
    color: white;
    margin-left: 4%;
    margin-top: 3%;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

@media only screen and (max-width:1023px){
    .left-image img {
         width: 100%;
  height: auto; 
    }
}

/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING  ============================================================================= */

.row {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		/*margin: 1% 0 1% 0%;*/
        margin: 0;
	}
}


/*  GRID OF TWO   ============================================================================= */


.span-2-of-2 {
	width: 100%;
}

.span-1-of-2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-2-of-2 {
		width: 100%; 
	}
	.span-1-of-2 {
		width: 100%; 
	}
}


/*  GRID OF THREE   ============================================================================= */

	
.span-3-of-3 {
	width: 100%; 
}

.span-2-of-3 {
	width: 66.13%; 
}

.span-1-of-3 {
	width: 32.26%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-3-of-3 {
		width: 100%; 
	}
	.span-2-of-3 {
		width: 100%; 
	}
	.span-1-of-3 {
		width: 100%;
	}
}

/*  GRID OF FOUR   ============================================================================= */

	
.span-4-of-4 {
	width: 100%; 
}

.span-3-of-4 {
	width: 74.6%; 
}

.span-2-of-4 {
	width: 49.2%; 
}

.span-1-of-4 {
	width: 23.8%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-4-of-4 {
		width: 100%; 
	}
	.span-3-of-4 {
		width: 100%; 
	}
	.span-2-of-4 {
		width: 100%; 
	}
	.span-1-of-4 {
		width: 100%; 
	}
}


/*  GRID OF FIVE   ============================================================================= */

	
.span-5-of-5 {
	width: 100%;
}

.span-4-of-5 {
  	width: 79.68%; 
}

.span-3-of-5 {
  	width: 59.36%; 
}

.span-2-of-5 {
  	width: 39.04%;
}

.span-1-of-5 {
  	width: 18.72%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-5-of-5 {
		width: 100%; 
	}
	.span-4-of-5 {
		width: 100%; 
	}
	.span-3-of-5 {
		width: 100%; 
	}
	.span-2-of-5 {
		width: 100%; 
	}
	.span-1-of-5 {
		width: 100%; 
	}
}


/*  GRID OF SIX   ============================================================================= */


.span-6-of-6 {
	width: 100%;
}

.span-5-of-6 {
  	width: 83.06%;
}

.span-4-of-6 {
  	width: 66.13%;
}

.span-3-of-6 {
  	width: 49.2%;
}

.span-2-of-6 {
  	width: 32.26%;
}

.span-1-of-6 {
  	width: 15.33%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-6-of-6 {
		width: 100%; 
	}
	.span-5-of-6 {
		width: 100%; 
	}
	.span-4-of-6 {
		width: 100%; 
	}
	.span-3-of-6 {
		width: 100%; 
	}
	.span-2-of-6 {
		width: 100%; 
	}
	.span-1-of-6 {
		width: 100%; 
	}
}



/*  GRID OF SEVEN   ============================================================================= */


.span-7-of-7 {
	width: 100%;
}

.span-6-of-7 {
	width: 85.48%;
}

.span-5-of-7 {
  	width: 70.97%;
}

.span-4-of-7 {
  	width: 56.45%;
}

.span-3-of-7 {
  	width: 41.94%;
}

.span-2-of-7 {
  	width: 27.42%;
}

.span-1-of-7 {
  	width: 12.91%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-7-of-7 {
		width: 100%; 
	}
	.span-6-of-7 {
		width: 100%; 
	}
	.span-5-of-7 {
		width: 100%; 
	}
	.span-4-of-7 {
		width: 100%; 
	}
	.span-3-of-7 {
		width: 100%; 
	}
	.span-2-of-7 {
		width: 100%; 
	}
	.span-1-of-7 {
		width: 100%; 
	}
}


/*  GRID OF EIGHT   ============================================================================= */

	
.span-8-of-8 {
	width: 100%;
}

.span-7-of-8 {
	width: 87.3%; 
}

.span-6-of-8 {
	width: 74.6%; 
}

.span-5-of-8 {
	width: 61.9%; 
}

.span-4-of-8 {
	width: 49.2%; 
}

.span-3-of-8 {
	width: 36.5%;
}

.span-2-of-8 {
	width: 23.8%; 
}

.span-1-of-8 {
	width: 11.1%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-8-of-8 {
		width: 100%; 
	}
	.span-7-of-8 {
		width: 100%; 
	}
	.span-6-of-8 {
		width: 100%; 
	}
	.span-5-of-8 {
		width: 100%; 
	}
	.span-4-of-8 {
		width: 100%; 
	}
	.span-3-of-8 {
		width: 100%; 
	}
	.span-2-of-8 {
		width: 100%; 
	}
	.span-1-of-8 {
		width: 100%; 
	}
}


/*  GRID OF NINE   ============================================================================= */


.span-9-of-9 {
	width: 100%;
}

.span-8-of-9 {
	width: 88.71%;
}

.span-7-of-9 {
	width: 77.42%; 
}

.span-6-of-9 {
	width: 66.13%; 
}

.span-5-of-9 {
	width: 54.84%; 
}

.span-4-of-9 {
	width: 43.55%; 
}

.span-3-of-9 {
	width: 32.26%;
}

.span-2-of-9 {
	width: 20.97%; 
}

.span-1-of-9 {
	width: 9.68%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-9-of-9 {
		width: 100%; 
	}
	.span-8-of-9 {
		width: 100%; 
	}
	.span-7-of-9 {
		width: 100%; 
	}
	.span-6-of-9 {
		width: 100%; 
	}
	.span-5-of-9 {
		width: 100%; 
	}
	.span-4-of-9 {
		width: 100%; 
	}
	.span-3-of-9 {
		width: 100%; 
	}
	.span-2-of-9 {
		width: 100%; 
	}
	.span-1-of-9 {
		width: 100%; 
	}
}


/*  GRID OF TEN   ============================================================================= */


.span-10-of-10 {
	width: 100%;
}

.span-9-of-10 {
	width: 89.84%;
}

.span-8-of-10 {
	width: 79.68%;
}

.span-7-of-10 {
	width: 69.52%; 
}

.span-6-of-10 {
	width: 59.36%; 
}

.span-5-of-10 {
	width: 49.2%; 
}

.span-4-of-10 {
	width: 39.04%; 
}

.span-3-of-10 {
	width: 28.88%;
}

.span-2-of-10 {
	width: 18.72%; 
}

.span-1-of-10 {
	width: 8.56%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-10-of-10 {
		width: 100%; 
	}
	.span-9-of-10 {
		width: 100%; 
	}
	.span-8-of-10 {
		width: 100%; 
	}
	.span-7-of-10 {
		width: 100%; 
	}
	.span-6-of-10 {
		width: 100%; 
	}
	.span-5-of-10 {
		width: 100%; 
	}
	.span-4-of-10 {
		width: 100%; 
	}
	.span-3-of-10 {
		width: 100%; 
	}
	.span-2-of-10 {
		width: 100%; 
	}
	.span-1-of-10 {
		width: 100%; 
	}
}


/*  GRID OF ELEVEN   ============================================================================= */

.span-11-of-11 {
	width: 100%;
}

.span-10-of-11 {
	width: 90.76%;
}

.span-9-of-11 {
	width: 81.52%;
}

.span-8-of-11 {
	width: 72.29%;
}

.span-7-of-11 {
	width: 63.05%; 
}

.span-6-of-11 {
	width: 53.81%; 
}

.span-5-of-11 {
	width: 44.58%; 
}

.span-4-of-11 {
	width: 35.34%; 
}

.span-3-of-11 {
	width: 26.1%;
}

.span-2-of-11 {
	width: 16.87%; 
}

.span-1-of-11 {
	width: 7.63%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-11-of-11 {
		width: 100%; 
	}
	.span-10-of-11 {
		width: 100%; 
	}
	.span-9-of-11 {
		width: 100%; 
	}
	.span-8-of-11 {
		width: 100%; 
	}
	.span-7-of-11 {
		width: 100%; 
	}
	.span-6-of-11 {
		width: 100%; 
	}
	.span-5-of-11 {
		width: 100%; 
	}
	.span-4-of-11 {
		width: 100%; 
	}
	.span-3-of-11 {
		width: 100%; 
	}
	.span-2-of-11 {
		width: 100%; 
	}
	.span-1-of-11 {
		width: 100%; 
	}
}


/*  GRID OF TWELVE   ============================================================================= */

.span-12-of-12 {
	width: 100%;
}

.span-11-of-12 {
	width: 91.53%;
}

.span-10-of-12 {
	width: 83.06%;
}

.span-9-of-12 {
	width: 74.6%;
}

.span-8-of-12 {
	width: 66.13%;
}

.span-7-of-12 {
	width: 57.66%; 
}

.span-6-of-12 {
	width: 49.2%; 
}

.span-5-of-12 {
	width: 40.73%; 
}

.span-4-of-12 {
	width: 32.26%; 
}

.span-3-of-12 {
	width: 23.8%;
}

.span-2-of-12 {
	width: 15.33%; 
}

.span-1-of-12 {
	width: 6.86%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-12-of-12 {
		width: 100%; 
	}
	.span-11-of-12 {
		width: 100%; 
	}
	.span-10-of-12 {
		width: 100%; 
	}
	.span-9-of-12 {
		width: 100%; 
	}
	.span-8-of-12 {
		width: 100%; 
	}
	.span-7-of-12 {
		width: 100%; 
	}
	.span-6-of-12 {
		width: 100%; 
	}
	.span-5-of-12 {
		width: 100%; 
	}
	.span-4-of-12 {
		width: 100%; 
	}
	.span-3-of-12 {
		width: 100%; 
	}
	.span-2-of-12 {
		width: 100%; 
	}
	.span-1-of-12 {
		width: 100%; 
	}
}