<section id="main-content" tabindex="-1">
    <h1 class="hidden">Home page</h1>
    <sb-carousel [banners]="banners"></sb-carousel>
  <ng-container *ngFor="let category of categories; let index=index; let odd=odd; let even=even;">
    
    <div *ngIf="odd">
      <figure class="clearfix row home-tile left-image">
        <img class="col span-1-of-2" src="../../../assets{{category.imageUrl}}" alt="{{category.name}}">
        <figcaption class="clearfix col title-text span-1-of-2">
          <h2>{{category.name}}</h2>
          <p>{{category.description}}</p>
          <button (click)="plpPageId(category.id)" class="btn-tile btn-home">{{category.key}}</button>
        </figcaption>
      </figure>
    </div>
    <div *ngIf="even">
      <figure class="clearfix row home-tile left-image">
        <figcaption class="clearfix col title-text span-1-of-2" style="float: left;">
          <h2>{{category.name}}</h2>
          <p>{{category.description}}</p>
          <button (click)="plpPageId(category.id)" class="btn-tile btn-home">{{category.key}}</button>
        </figcaption>
        <img class="col span-1-of-2" src="../../../assets{{category.imageUrl}}" alt="{{category.name}}">
      </figure>

    </div>
  </ng-container>
</section>