<section id="main-content" tabindex="-1">
    <h1 class="hidden">Home page</h1>
  <div class="slide-container">
    <!-- Slideshow container -->
    <div class="slideshow-container">

      <!-- Full-width images with number and caption text -->
      <ng-container *ngFor="let banner of banners; let i = index">
        <div class="mySlides fade" [ngStyle]="{'display': bannerStyle[i]}"
          [attr.aria-hidden]="bannerStyle[i] == 'block' ? false: true">
          <!--  <div class="numbertext">1 / 5</div> -->
          <img src="../../../assets{{banner.bannerImageUrl}}" alt="{{banner.bannerImageAlt}}" style="width:100%">
        </div>
      </ng-container>

      <!-- Next and previous buttons -->
      <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
      <a class="next" (click)="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <!-- The dots/circles -->
    <div class="slides-dot">
      <span class="dot" (click)="currentSlide(1)"></span>
      <span class="dot" (click)="currentSlide(2)"></span>
      <span class="dot" (click)="currentSlide(3)"></span>
      <span class="dot" (click)="currentSlide(4)"></span>
      <span class="dot" (click)="currentSlide(5)"></span>
    </div>
  </div>

  <ng-container *ngFor="let category of categories; let index=index; let odd=odd; let even=even;">
    
    <div *ngIf="odd">
      <figure class="clearfix row home-tile left-image">
        <img class="col span-1-of-2" src="../../../assets{{category.imageUrl}}" alt="{{category.name}}">
        <figcaption class="clearfix col title-text span-1-of-2">
          <h2>{{category.name}}</h2>
          <p>{{category.description}}</p>
          <button (click)="plpPageId(category.id)" class="btn-tile btn-home">{{category.key}}</button>
        </figcaption>
      </figure>
    </div>
    <div *ngIf="even">
      <figure class="clearfix row home-tile left-image">
        <figcaption class="clearfix col title-text span-1-of-2" style="float: left;">
          <h2>{{category.name}}</h2>
          <p>{{category.description}}</p>
          <button (click)="plpPageId(category.id)" class="btn-tile btn-home">{{category.key}}</button>
        </figcaption>
        <img class="col span-1-of-2" src="../../../assets{{category.imageUrl}}" alt="{{category.name}}">
      </figure>

    </div>
  </ng-container>
</section>