@import '../../styles/common/variables';

.span-1-of-2 {
    width: 30%;
}


.btn-home {
  cursor: pointer;
  border: none;
  padding: 2.5%;
  font-size: 0.8rem;
}

.btn-home:hover {
  background-color: $btn-color-active;
 
}

  .left-image img {
    height: 50px;
    width: auto;
    margin: auto;

  }

  .span-1-of-2 {
    width: 100%;
}

  .home-tile {
   
      display: flex;
      justify-content: space-evenly;
      height: auto;
      margin:0 2%;
    /*   border-bottom: 2px solid red ; */
      text-align:center;
      padding-bottom:2px;
      background: /* gradient can be an image */
        linear-gradient(
          to left, $color-white, $color-greyGradiant 25%,  $color-greyGradiant 75%, $color-white
        )
        left 
        bottom  
        no-repeat; 
      background-size:100% 2px ;
  }

  .title-text {
  margin-bottom: 15px;
  }

  @media only screen and (min-width:768px) {
    .home-tile {
        margin:0 6%;
    }

    .left-image img { 
        height: 150px;
        margin-left: 20%;
    }
    .below-row {
        margin: 0 200px;
    }


  .home-tile:last-child {
    border-bottom: none ;
}
.btn-home {
  padding: 2%;
  font-size: 0.9rem;
}
}

  @media only screen and (min-width:1023px){
    .home-tile {
        margin:0 15%;
    }
  }