<head>
    <!--         <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" type="text/css" href="./vendor/css/Grid.css">
        <link rel="stylesheet" type="text/css" href="./vendor/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="./vendor/css/ionicons.min.css">
        <link  rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Dosis:400,600,700'> -->
</head>

<body class="container">


    <section class="section-form">

        <div class="row">
            <form class="contact-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                <div class="row">
                    <div class="col span-1-of-2">
                        <h1>Signup</h1>
                        <p>We do not share your personal details with anyone.</p>
                    </div>
                    <div class="col span-1-of-2">
                        <div class="row form-input">
                            <div>
                                <label>First Name</label>
                            </div>
                            <input type="text" class="email-input" formControlName="firstname" size="50"
                                placeholder="First Name" aria-required="true" aria-describedby="name-required">
                            <div *ngIf="f.firstname.invalid && (f.firstname.dirty || f.firstname.touched)"
                                class="alert alert-danger">
                                <div id="name-required" *ngIf="f.firstname.errors.required">
                                    First Name is required.
                                </div>
                            </div>
                        </div>

                        <div class="row form-input">
                            <input type="text" formControlName="lastname" size="50" placeholder="Last Name"
                             aria-required="true" aria-describedby="last-required">
                            <div *ngIf="f.lastname.invalid && (f.lastname.dirty || f.lastname.touched)"
                            class="alert alert-danger">
                            <div id="last-required" *ngIf="f.lastname.errors.required">
                                Last Name is required.
                            </div>
                        </div>
                        </div>

                        <div class="row form-input">
                            <input type="text" formControlName="email" size="50" placeholder="Email"
                            aria-describedby="email-required" aria-required="true">
                            <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)"
                            class="alert alert-danger">
                            <div id="email-required" *ngIf="f.email.errors.required">
                               email is required.
                           </div>
                           <div id="email-required" *ngIf="f.email.status == 'INVALID'">
                                Please enter a valid email.
                           </div>
                           </div>
                        </div>

                        <div class="row form-input">
                            <input type="password" formControlName="password" size="50" placeholder="Password" 
                            aria-describedby="password-required" aria-required="true">
                            <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)"
                                 class="alert alert-danger">
                                 <div id="password-required" *ngIf="f.password.errors.required">
                                    password is required.
                                </div>
                                <div id="password-required" *ngIf="f.password.errors.minlength">
                                    password must be at least 6 characters long.
                                </div>
                                <div id="password-required" *ngIf="f.password.errors.wrongPassword">
                                    password must have a number and alphabet
                                </div>
                            </div>
                        </div>

                        <div class="row form-input">
                            <input type="text" formControlName="confirmpassword" size="50"
                                placeholder="Confirm Password" (focusout)="checkPasswordMatch()" (focus)="checkPasswordMatchFocus()" 
                                aria-describedby="confirm-required" aria-required="true">
                                <div *ngIf="f.confirmpassword.invalid && (f.confirmpassword.dirty || f.confirmpassword.touched)"
                                 class="alert alert-danger">
                                 <div id="confirm-required" *ngIf="f.confirmpassword.errors.required">
                                    password is required.
                                </div>
                                <div id="confirm-required"  *ngIf="passwordMatchFlag && f.confirmpassword.errors.mustMatch">
                                    both password should Match
                                </div>
                            </div>
                            
                        </div>

                        <div class="row form-input">
                            <button href="#" class="btn-login" type="submit" [disabled]="!this.registerForm.valid">Signup</button>
                        </div>
                    </div>
                </div>

            </form>

        </div>

    </section>