
.logo-img {
width: auto;
height: 30px;
padding: 0;
margin:0;
}

header {
  border-bottom: 2px solid #cfcfcf;
  box-shadow: 3px 3px 2px rgb(250, 249, 249);
}

  .topnav {
    overflow: hidden;
    background-color: white;
    position: relative;

  }  

  .myLinks {
   
    display: block;
}

.myLinksHide {
    display: none;
}
  
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    /* font-size: 20px; */
    display: block;
  }
  
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

/*   .transition-nav {
    transition: display 2s;
  } */
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #4CAF50;
    color: white;
  }

  .desktop {
    display: none;
}

@media only screen and (min-width:1023px){
.desktop{
    width: 70%;
    margin: auto;
}

}

@media only screen and (min-width:768px){

  .signin-nav {
    float: right;
    width: 100%;
  }

  .signin-col {
    display: flex;
    justify-content: flex-end;
  }

  .signin-text{
    padding-left: 30px;
  }

  ul {
    padding: 0;
  }
  .btn-cart {
    width: 145px;
    margin-top: 15px;
  }

  .cart-img {
      width: 30px;
      height: auto;
      padding-top: 5px;
  }

  .register-link {
   display: inline;
  }
    .topnav {
        display: none;
    }
    a {
        text-decoration: none;
        color: black;
    }
  
    .cart-items-text {
        float: right;
        padding: 10px;
    }

    .desktop {
        display: block;
    }

    .navigate ul li{
      
        float: left;
        padding: 20px;
        margin-top: 28px;
    }
    
    .nav-login ul li {
       
        display: inline;
        padding-right: 15px;
    }
    ul li {
      list-style: none;
    }

    .signin-links {
      display: flex;
      justify-content: space-between;
      margin: 5px 0 18px 10px;
    }
   /*  .desktop {
        display: none;
    } */
   /*  .topnav {
        display: none;
    } */
}