
@import '../../../styles/common/variables';

.header {
  display: flex;
  height: 90px;
}

.header__logo {
  display: flex;
  flex: 0 1 25%;
  img {
    height: 80px;
    width: auto;
    margin-top: 5px;
  }
}


.header__global-nav {
 display: flex;
 flex: 0 1 63%;
 align-items: flex-end;
 margin-bottom: 15px;

 li {
   margin-left: 15px;
 }
 ul {
  display: flex;
 }
}

.header__singnin-nav {
display: flex;

nav {
  display: flex;
  flex-direction: column;
  ul {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 7px;
  }
  li a{
    display: flex;
    font-size: 0.8rem;
    margin: 2px 2px 2px 10px;
  align-items: flex-end;
  margin-right: 2px;
  }
}
}


.logo-img {
width: auto;
height: 30px;
padding: 0;
margin:0;
}

header {
  border-bottom: 2px solid #cfcfcf;
  box-shadow: 0px 3px 10px #d0d0d0;
}

  .topnav {
    overflow: hidden;
    background-color: $color-white;
    position: relative;
  }  

  .myLinks {
    position: relative;
    display: block;
}

  
  .topnav a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    /* font-size: 20px; */
    display: block;
    

    &:hover {
      background-color: $color-grey;
      color: $color-black;
    }
  }
  
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 10px;
  }

  .topnav a.cart {
    display: block;
    position: absolute;
    right: 90px;
    top: 0;
  }

  .cart-img-mobile {
    width: 25px;
    height: auto;
}

.cart-text-m {
  position: absolute;
  font-size: 15px;
  margin: 5px 0 0 5px; 
}

  .desktop {
    display: none;
}

@media only screen and (min-width:1023px){
.desktop{
    width: 70%;
    margin: auto;
}
.header-overlay {
  position:fixed;
  top:0;
  left:0;
  background:rgba(0, 0, 0, 0.445);
  z-index:5;
  width:100%;
  height:100%;
  display:block;
}

}

@media only screen and (min-width:768px){

  .signin-nav {
    float: right;
    width: 100%;
  }

  .signin-col {
    display: flex;
    justify-content: flex-end;
  }

  .signin-text{
    padding-left: 30px;
  }

  ul {
    padding: 0;
  }
  .header__cart-button {
    width: 120px;
    margin-left: 0;
    border: none;
    background-color: $color-grey;
  }

  .cart-img {
      width: 30px;
      height: auto;
      padding: 8px 0
  }

  .register-link {
   display: inline;
  }
    .topnav {
        display: none;
    }
    a {
        text-decoration: none;
        color: black;
    }
  
    .cart-items-text {
        float: right;
        padding: 10px 15px 5px 0;
    }

    .desktop {
        display: block;
    }

    .navigate ul li{
      
        float: left;
        padding: 20px;
        margin-top: 28px;
    }
    
    .nav-login ul li {
       
        display: inline;
        padding-right: 15px;
    }
    ul li {
      list-style: none;
    }

    .signin-links {
      display: flex;
      justify-content: space-between;
      margin: 5px 0 18px 10px;
    }

    .logo {
      margin-top: 5px;
    }
}

