
@import '../../../styles/common/variables';

.logo-img {
width: auto;
height: 30px;
padding: 0;
margin:0;
}

header {
  border-bottom: 2px solid #cfcfcf;
  box-shadow: 0px 3px 10px #d0d0d0;
}

  .topnav {
    overflow: hidden;
    background-color: $color-white;
    position: relative;
    

  }  

  .myLinks {
    position: relative;
    display: block;
}

.myLinksHide {
    display: none;
}
  
  .topnav a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    /* font-size: 20px; */
    display: block;
    

    &:hover {
      background-color: $color-grey;
      color: $color-black;
    }
  }
  
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 10px;
  }

  .topnav a.cart {
    display: block;
    position: absolute;
    right: 90px;
    top: 0;
  }

  .cart-img-mobile {
    width: 25px;
    height: auto;
}

.cart-text-m {
  position: absolute;
  font-size: 15px;
  margin: 5px 0 0 5px; 
}

  .desktop {
    display: none;
}

@media only screen and (min-width:1023px){
.desktop{
    width: 70%;
    margin: auto;
}

}

@media only screen and (min-width:768px){

  .signin-nav {
    float: right;
    width: 100%;
  }

  .signin-col {
    display: flex;
    justify-content: flex-end;
  }

  .signin-text{
    padding-left: 30px;
  }

  ul {
    padding: 0;
  }
  .btn-cart {
    width: 145px;
    margin-top: -3px;
  }

  .cart-img {
      width: 30px;
      height: auto;
      padding-top: 5px;
  }

  .register-link {
   display: inline;
  }
    .topnav {
        display: none;
    }
    a {
        text-decoration: none;
        color: black;
    }
  
    .cart-items-text {
        float: right;
        padding: 10px;
    }

    .desktop {
        display: block;
    }

    .navigate ul li{
      
        float: left;
        padding: 20px;
        margin-top: 28px;
    }
    
    .nav-login ul li {
       
        display: inline;
        padding-right: 15px;
    }
    ul li {
      list-style: none;
    }

    .signin-links {
      display: flex;
      justify-content: space-between;
      margin: 5px 0 18px 10px;
    }
   /*  .desktop {
        display: none;
    } */
   /*  .topnav {
        display: none;
    } */
}