<header>

  <div class="row desktop">
    <div class="col span-1-of-3">
      <a routerLink='/login' title="sabka bazar"> <img src="../../../assets/images/logo.png" alt="sabka bazar logo"></a>
    </div>

    <nav aria-label="Global links" class="col span-1-of-3 navigate">
      <ul role="presentation">
        <li role="nav item"><a routerLink="/home">Home</a></li>
        <li role="nav item"><a routerLink="/plp">Products</a></li>
      </ul>
    </nav>
    <div  class="signin-col span-1-of-3 ">
      <nav aria-label="signin-nav navigation" class="row">
        <ul class="signin-links" role="presentation" >
          <li role="nav item"><a routerLink="/login">Sign in</a></li>
          <li role="nav item"><a routerLink="/register">Register</a></li>
        </ul>
        <a href="#" class="btn btn-cart" aria-label="cart button">
          <img src="../../../../assets/images/cart.svg" alt="cart logo" title="cart logo" class="cart-img">
          <div class="cart-items-text"> 0 items</div>
        </a>
      </nav>
    </div>
  </div>


  <div class="topnav">
    <a routerLink='/login'> <img src="../../../assets/images/logo.png" alt="sabka bazar logo" title="sabka bazar"
        class="logo-img"></a>
    <div [ngClass]="addHamburgerCss === true ? 'myLinks' : 'myLinksHide'" >
      <a routerLink="/home" (click)="hamburgerClicked()">Home</a>
      <a routerLink="/plp" (click)="hamburgerClicked()">Products</a>
      <a routerLink="/login" (click)="hamburgerClicked()">Login</a>
      <a routerLink="/register" (click)="hamburgerClicked()">Register</a>
    </div>
    <a class="cart">
        <img src="../../../../assets/images/cart.svg" alt="cart logo" title="cart logo" class="cart-img-mobile">
         <span class="cart-text-m">0&nbsp;items</span> 
    </a>
  <a class="icon" (click)="hamburgerClicked()"> 
      <i class="fa fa-bars"></i>
    </a>
  </div>



</header>