<section id="main-content" class="section-form">
    <form [formGroup]="loginForm" method="POST" action="null" (ngSubmit)="onSubmit()">
        <div class="form">
            <div class="form__text">
                <h1>Login</h1>
                <p>Get access to your Orders Wishlist and Recommendations </p>
            </div>
            <div class="form__section">
                <div class="form__input">
                    <label [ngClass]="f.email.dirty || f.email.touched ? 'label-display_active':'label-display'">Email</label>

                    <input type="email" formControlName="email" size="50"  required
                        aria-required="true" aria-describedby="email-required"
                        (keydown.space)="$event.preventDefault();">

                    <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="form__error">
                        <div id="email-required" *ngIf="f.email.errors.required" tabindex="0" >
                            email is required.
                        </div>
                        <div *ngIf="f.email.status == 'INVALID' && !f.email.errors.required" tabindex="0">
                            Please enter a valid email.
                        </div>
                    </div>
                </div>
                <div class="form__input">
                    <label [ngClass]="f.password.dirty || f.password.touched ? 'label-display_active':'label-display'">password</label>
                    <input type="password" formControlName="password" size="50"  required
                        aria-required="true" aria-describedby="password-required"
                        (keydown.space)="$event.preventDefault();">
                    <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" class="form__error">
                        <div id="password-required" *ngIf="f.password.errors.required" tabindex="0">
                            password is required.
                        </div>
                        <div *ngIf="f.password.errors.minlength && !f.password.errors.required">
                            password must be at least 6 characters long.
                        </div>
                        <div
                            *ngIf="f.password.errors.wrongPassword && !f.password.errors.required && !f.password.errors.minlength" tabindex="0">
                            password must have a number and alphabet
                        </div>
                    </div>
                </div>
                <button  class="btn-login" type="submit">Login</button>
            </div>

        </div>
    </form>

</section>