
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--   <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" type="text/css" href="./vendor/css/Grid.css">
        <link rel="stylesheet" type="text/css" href="./vendor/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="./vendor/css/ionicons.min.css"> -->
        <link  rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Dosis:400,600,700'>
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script> -->
    </head>

    <body class="container">
   

       <section class="section-form">
            
            <div class="row">
                <form method="post" action="#" class="contact-form">

                    <div class="row">
                            <div class="col span-1-of-2">
                                <h1>Login</h1> 
                                <p>Get access to your orders wish list and recommendations </p>
                            </div>
                            <div class="col span-1-of-2">
                                    <div class="row form-input">
                                        <div>
                                        <label for="email">Email</label> 
                                        </div>
                                        <input type="text" class="email-input" name="email" size="50" placeholder="Email" required>
                                    </div>
                                    
                                    <div class="row form-input">
                                        <input type="text" name="password" size="50" placeholder="Password" required>
                                    </div>

                                    <div class="row form-input">
                                        <a href="#" class="btn-login">Login</a>
                                    </div>
                            </div>
                    </div>

                </form>
                
            </div>

        </section>

