@import '../../styles/common/variables';

.section-plp {
    width: 100%;
    margin: 0 auto;
}

li a {
    color: black;
    text-decoration: none;
}

.sidebar {
    display: none;
    
}

.product-container {
    border-bottom: 1px solid $color-grey;
}

 .product-text {
    display: flex;
    flex-direction: column;
} 

.product-name{
    height: 42px;
   margin: 20px 0 0 10px;
}

.product-desc {
    font-size: 0.8rem;
    padding: 10px;
    margin: 5px;
}

.btn-buy {
    width: 95%;
    background-color: $btn-color;
  /*   border-radius: 5px; */
    border: none;
    margin: 15px 5px;
    cursor: pointer;
    &:hover {
         background-color: $btn-color-active;
    }
    
}

.price-btn-desktop {
    display: none;
}


.item {
    display: flex;
    align-items: normal;
    flex-direction: row;
    padding: 15px;
}

.product-text {
    font-size: 0.8rem;
}

.product-image {
    width:50%;
}

.active {
    background-color: $color-darkgrey;
}

.price-btn-desktop {
    display: none;
}

.topnav {
    display: block;
}

.open-dropdown{
    padding: 8px;
    color: white;
    background-color: $btn-color;
}

.myLinks {
    display: block;
    background-color:$color-grey;
    list-style: none;
    padding: 10px;
}

@media only screen and (min-width:1023px){
 /*    .price-desktop {
        background-color: white;
    } */

    .btn-buy {
        float: right;
        width: 50%;
    }
    .price-desktop {
        margin-left: 10px;
        font-size: 0.7rem;
    }
    .price-btn-desktop {
        display: block;
    }
    .price-btn-mbl {
        display: none;
    }
    
}

@media only screen and (min-width:768px){
    .sidebar {
        display: block;
        background-color: $color-grey;
        height: 100vh;
        cursor: pointer;
    }
    
    .sidebar ul {
        padding-left: 1px;
    }
    
    .sidebar ul li {
        border-bottom: 1px solid $color-darkgrey;
        list-style: none;
        padding: 10px;
    
    }
    .section-plp {
        width: 80%;
        margin: 5px auto;
    }
    .item {
        flex-direction: column;
        justify-content: space-between;
    }
    .product-image {
        width:100%;
    }

    .product-name{ 
        height: 67px;
    }
    .product-desc {
        height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .col {
        margin: 0;
    }
    .btn-buy {
        margin: 0px 5px;
    }
    .topnav {
        display: none;
    }
}
/* .item img {
    width: 100%;
} */

.item p {
    background-color: $color-grey;
}

.item {
box-sizing: border-box;
border-bottom: 1px dotted $color-grey;
border-right: 3px solid $color-grey;
padding: 5px;
}

.desktop-buy {
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    .item {
        width: 100% !important;
    }
}



@media only screen and (min-width:768px) and (max-device-width: 1024px) {
    .span-1-of-4 {
        width: 49.8%;
    }
    .section-plp {
        width: 100%;
    }
}