
    <head>
      <!--   <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" type="text/css" href="./resources/css/plp.css">
        <link rel="stylesheet" type="text/css" href="./vendor/css/Grid.css">
        <link rel="stylesheet" type="text/css" href="./vendor/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="./vendor/css/ionicons.min.css"> -->
        <link  rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Dosis:400,600,700'>
        
    </head>

    <body class="container">
       <section class="section-plp">
        <div class="row">
            <div class="col span-2-of-10 sidebar">
                <ul>
                    <li>Fruits & Vegitables</li>
                    <li>Backery Cakes and Dairy</li>
                    <li>Beverages</li>
                    <li>Beauty and Hygiene</li>
                    <li>Baby Care</li>
                </ul>
            </div>


            <div class="col span-8-of-10 products">
                <section class="section-products">
                    <div class="row">
                        <div class="col span-1-of-4 item">
                            <h3>Fresh Kiwi- Green, 3 pcs</h3>
                            <img src="../../../assets/images/products/fruit-n-veg/kiwi-green.jpg">
                            <p>
                                Kiwis are oval shaped with a brownish outer skin. the flesh is bright green and juicy with tiny edible black seeds.
                            </p>

                            <div class="price-tag">
                                    MRP Rs. 87 <a href="#">Buy Now</a>
                            </div>
                        </div>
        
                        <div class="col span-1-of-4 item">
                                <h3>Fresh Kiwi- Green, 3 pcs</h3>
                                <img src="../../../assets/images/products/fruit-n-veg/kiwi-green.jpg">
                                <p>
                                    Kiwis are oval shaped with a brownish outer skin. the flesh is bright green and juicy with tiny edible black seeds.
                                </p>
    
                                <div class="price-tag">
                                        MRP Rs. 87 <a href="#">Buy Now</a>
                                </div>
                        </div>
        
                        <div class="col span-1-of-4 item">
                                <h3>Fresh Kiwi- Green, 3 pcs</h3>
                                <img src="../../../assets/images/products/fruit-n-veg/kiwi-green.jpg">
                                <p>
                                    Kiwis are oval shaped with a brownish outer skin. the flesh is bright green and juicy with tiny edible black seeds.
                                </p>
    
                                <div class="price-tag">
                                    MRP Rs. 87 <a href="#">Buy Now</a>
                                </div>
                        </div>
        
                        <div class="col span-1-of-4 item">
                                <h3>Fresh Kiwi- Green, 3 pcs</h3>
                                <img src="../../../assets/images/products/fruit-n-veg/kiwi-green.jpg">
                                <p>
                                    Kiwis are oval shaped with a brownish outer skin. the flesh is bright green and juicy with tiny edible black seeds.
                                </p>
    
                                <div class="price-tag">
                                 MRP Rs. 87 <a href="#">Buy Now</a>
                                </div>
                        </div>
                    </div>
                </section>
            </div>


            
        </div>
    </section>