.section-plp {
    width: 100%;
    margin: 0 auto;
}

.sidebar {
    display: none;
    
}

.product-container {
    border-bottom: 1px solid #d6d5d5;
}

 .product-text {
    display: flex;
    flex-direction: column;
} 

.product-name{
   margin: 20px 0 0 10px;
}

.product-desc {
    font-size: 0.8rem;
    padding: 10px;
    margin: 5px;
}

.btn-buy {
    width: 90%;
    background-color: #d10325;
  /*   border-radius: 5px; */
    border: none;
    margin: 15px 5px;
    cursor: pointer;
    &:hover {
         background-color: #a7011c;
    }
    
}

/* .btn-buy:hover {
    background-color: #a7011c;
} */

.item {
    display: flex;
    align-items: normal;
    flex-direction: row;
    padding: 15px;
}

.product-text {
    font-size: 0.8rem;
}

.product-image {
    width:50%;
}

.active {
    background-color: #dddddd;
}

@media only screen and (min-width:1023px){
    

}

@media only screen and (min-width:768px){
    .sidebar {
        display: block;
        background-color: rgb(241, 241, 241);
        height: 100vh;
        cursor: pointer;
    }
    
    .sidebar ul {
        padding-left: 10px;
    }
    
    .sidebar ul li {
        border-bottom: 1px solid grey;
        list-style: none;
        padding: 10px;
    
    }
    .section-plp {
        width: 80%;
        margin: 0 auto;
    }
    .item {
        flex-direction: column;
        justify-content: space-between;
    }
    .product-image {
        width:100%;
    }

    .product-name{ 
        height: 44px;
    }
    .product-desc {
        height: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .col {
        margin: 0;
    }
}
/* .item img {
    width: 100%;
} */

.item p {
    background-color:rgb(241, 241, 241);
}

.item {
box-sizing: border-box;
border-bottom: 1px dotted rgb(241, 241, 241);
border-right: 3px solid rgb(241, 241, 241);
padding: 5px;
}

/* .price-tag a {
    background-color: rgb(238, 92, 116);
    color: #fff;
    text-decoration: none;
    padding: 5px;
    margin-left: 2px;
} */

@media only screen and (max-width: 600px) {
    .item {
        width: 100% !important;
    }
}