
    <section id="main-content" class="section-plp">

        <nav class="sidebar">
            <ul>
                <li *ngFor="let category of categories; let i = index"
                    (click)="categorySelect(category.value,i)"
                    [class.active]="categorySelected === category.value">
                    <app-anchor [title]="category.name"></app-anchor>
                   <!--  <a [routerLink]="" [title]="category.name">{{category.name}}</a></li> -->
            </ul>
        </nav>

      

        <section class="products">
            <nav aria-label="Global links" class="topnav">
                <div (click)="dropdownToggle()">{{dropdwonTitleText}}</div>
                <ul [ngClass]="dropdownFlag === true ? 'myLinks' : 'hidden'">
                    <li *ngFor="let category of categories; let i = index" (click)="categorySelect(category.value,i)"
                        [class.active]="categorySelected === category.value">
                        <app-anchor [routerLink]="" [title]="category.name"></app-anchor>
                </ul>
            </nav>

            <h1 class="hidden">product listing page</h1>
            <div *ngFor="let product of selectedProduts" class="product__container">
                <sb-product [product]="product"></sb-product>
              
            </div>           
        </section>

    </section>