@import "../../styles/common/variables";

.products {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.section-plp {
	display: flex;
	margin: 0 auto;
}
li {
	a {
		color: black;
		text-decoration: none;
	}
}
.sidebar {
	display: none;
}

.active {
	background-color: $color-darkgrey;
}

.topnav {
	display: block;
	width: 100%;

	div {
		padding: 8px;
	color: white;
	background-color: $btn-color;
	}
}

.myLinks {
	display: block;
	background-color: $color-grey;
	list-style: none;
	padding: 10px;
}


@media only screen and (min-width:768px) {
	.product__container {
		flex: 1 1 50%;
		max-width: 50%;
	}
	
	.sidebar {
		/* display: block; */
		background-color: $color-grey;
		display: flex;
		flex: 1 1 25%;
		/* height: 100vh; */
		cursor: pointer;
		ul {
			padding-left: 1px;
			width: 100%;
			li {
				border-bottom: 1px solid $color-darkgrey;
				list-style: none;
				padding: 18px;
			}
		}
	}
	.section-plp {
		margin: 5px auto;
	}
	
	.topnav {
		display: none;
	}
}

@media only screen and (min-width:1023px) {
	.product__container {
		flex: 1 1 25%;
		max-width: 25%;
	  }

.products {
	display: flex;
	flex-wrap: wrap;
	width: 75%;
}
}