@import "./variables";

.form {
  display: flex;
  flex-direction: column;
}

.section-form {
  margin: 10%;
  margin-bottom: 2%;
}

.form__text {
  display: flex;
  flex: 0 1 50%;
  flex-direction: column;
  margin-bottom: 10%;
  padding-right: 2%;
  h1 {
    padding: 2% 0;
  }
  p {
    padding: 2% 0;
  }
}

.form__section {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  .form__input {
    padding: 3% 0;
  }
  .form__error {
    color: $color-red;
    padding-top: 2px;
  }
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #cfcfcf;
  padding-top: 10px;
  width: 100%;
  padding: 2% 0;
}
.label-display{
	position: relative;
	bottom: -20px;
	color: #999;
}
.label-display_active {
	position: static;
	color: $color-lightBlue;
}
.btn-login {
  display: inline-block;
  width: 100%;
  background-color: $btn-color;
  text-align: center;
  color: #fff;
  text-decoration: none;
  padding: 8px;
  margin-top: 30px;
  border: none;
}

@media only screen and (min-width: 768px) {
  input {
    width: 100%;
  }
  .form {
    flex-direction: row;
  }
  .form__text {
    margin-top: 2%;
    h1 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
  }

  .form__section {
    width: 40%;
  }
  .section-form {
    margin-top: 50px;
  }
}
