$btn-color:#BF2957;
$btn-color-active:rgb(161, 2, 69);
$color-grey: #F0F0F0;
$color-darkgrey: #d8d7d7;
$color-darkergrey: #797979;
$color-white:#fff;
$color-black:#000;
$color-greyGradiant: #cfcfcf;
$color-lightBlue:#7CD4DD;
$color-red:red;